@model IEnumerable<EMS.Models.Employee>

@{
    Layout = "~/Views/Shared/Administrator_Layout.cshtml";
    ViewBag.Title = "View Employees";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Employee", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", "EmployeeList", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.ActionLink("Job Title", "Index", "EmployeeList", new { sortOrder = ViewBag.JobSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privilege)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.privilege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
