@model EMS.Models.Employee
@{
    ViewBag.Title = "EMS Login";
}

<style type="text/css">
    .alert {
        text-align: center;
    }

    .mrgn {
        margin-top: 20px;
    }
</style>

@if (@ViewBag.notice != "")
{
<div class="alert alert-warning mrgn" role="alert">
    @ViewBag.notice
</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="jumbotron text-center" style="border:2px solid gray;">

        <div class="">
            <div class="well">
                <h1> Login </h1>
            </div>
        </div>
        <div class="jumbotron">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2 text-uppercase" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="jumbotron">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2 text-uppercase" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="jumbotron">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
}
